<div style="margin-left: 10%;">
<%= form_tag sessions_path, :method => :post do %>

  <div class="row">
    <div class="small-8 columns">
      <div class="row">
        <div class="small-8 columns">
          <h1>Log in</h1>
          <div class="row">  
            <div class="small-2 columns">
              <%= label_tag 'email', 'Email', :class => 'right inline' %>
            </div>
            <div class="small-10 columns">
              <%= text_field_tag 'email' %>
            </div>
          </div>
          <div class="row">
            <div class="small-2 columns">
              <%= label_tag 'password', 'Password', :class => 'right inline' %>
            </div>
            <div class="small-10 columns">
              <%= password_field_tag 'password' %>
            </div>
            <div class="small-10 columns">
              <%= submit_tag "Log in", :class => "small button radius" %>
            </div>
          </div>

        </div>
      </div>
    </div>
    
  </div>
<% end %>
</div>
