<h1><%= @user.first_name %> <%= @user.last_name %></h1>

<% if @user.image == nil %>
  <%= image_tag('rails.png') %>
<% else %>
  <%= image_tag @user.image.url(:profile).to_s %>
<% end %>

<%= link_to "Edit Profile", edit_user_path(@user), class: "tiny button" %>

<br>

<h2>Goals</h2>
<% @user.goals.each do |goal| %>
  <%= link_to "#{goal.verb.capitalize} #{goal.title}", goal_path(goal.id), class: "button medium secondary" %> <br>
<% end %>