<%= form_for @user, :html => { :class => "custom", multipart: true } do |f| %>      
  <% unless f.object.errors.empty? %>
    <div class="alert alert-error">
      <strong>Try again after fixing the following things:</strong><br/>
      <ul>
        <% f.object.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row"> 

    <div class="large-12 columns">
      <% if current_page?(controller: 'users', action: 'new') == true %>
        <h1>Sign Up</h1>
      <% else %>
        <h1>Edit Profile</h1>
      <% end %>
    </div>

    <div class="large-8 columns signup">
      <fieldset class="signup">
        <legend class="signup">Who are you?</legend>      
        <%= f.label :first_name %>
        <%= f.text_field :first_name, autofocus: true %>

        <%= f.label :last_name %>
        <%= f.text_field :last_name %>

        <%= f.label :email, class: "email" %>
        <%= f.text_field :email %>

        <%= f.label :password %>
        <%= f.password_field :password %>
        <fieldset class="dob">
          <legend class="dob">Date of Birth</legend>

          <%= f.label :date_of_birth, "Birthday" %>
          <%= f.date_select :date_of_birth, start_year: 1950, end_year: (Time.now).year %>

          <%= f.label :gender %>
          <%= f.select :gender, ['Female', 'Male'] %>
        </fieldset>
        <fieldset>
          <legend>What do you look like?</legend>
          <% if current_page?('/users/new') == false %>
            <fieldset>
              <legend><p>Current Profile</p></legend>
              <%= image_tag @user.image.url(:profile).to_s %>
            </fieldset>  
          <% end %>
          <%= f.file_field :image %>
          <%= f.label :remote_image_url, "Or image url" %>
          <%= f.text_field :remote_image_url %>


        </fieldset>
      </fieldset>
    </div>

    <br>
  
  </div>
  <br>
  
  <div class="row">
    <div class="large-6 columns">
      <%= f.button "Create Account" %>
    </div>
  </div>
<% end %>