
<h1 class="subheader goal">
  <%= @goal.user.first_name %> <%= @goal.user.last_name %> wants to:
</h1>
<h2 class="goal"><%= @goal.verb.capitalize %> <%= @goal.title.downcase %></h2>
<div class="small-2 large-centered columns">
  <% @micro_goals.each do |m| %>
    <div class="row">
      <!-- if there is no proof -->
      <% if m.proof == nil %>
        <ul class="small-12 large-centered columns no-proof path-width">
          <li>
            <%= m.title.capitalize %>
            <%= m.completion_date.strftime("%A, %b %e %Y") %>
          </li>
          <li>
            <div class="row done">
              <%= link_to 'Done!', new_micro_goal_proof_path(m) %>
            </div>
          </li>
        </ul>
      <!-- if there is proof -->
      <% else %>
        <ul class="small-12 large-centered columns proof path-width">
          <li>
            <%= m.title.capitalize %>
          </li>
        </ul>
        <h6>Test Item</h6>
      <% end %>
    </div>
    <!-- Creating the connecting line -->
    <% 3.times do %>
      <div class="row">
        <!-- <div class="small-12 large-centered columns"> -->
          <div class="small-1 large-centered columns">
            <ul class="small-block-grid-1">
              <li class="line"></li>
            </ul>
          </div>
        <!-- </div> -->
      </div>
    <% end %>  
  <% end %>
</div>
<div class="small-4 large-centered columns clear">
  <div class="panel radius">
      <h2 class="subheader center">
        <%= @goal.verb.capitalize %> <%= @goal.title.downcase %>
      </h2>
  </div>
</div> 
<br>
<div class="row clear">
  <div class="small-4 small-centered">
    <%= link_to "Add microgoals", new_goal_micro_goal_url(@goal.id) %> |
    <%= link_to "Back to Goals", goals_path %> 
  </div>
</div>

















