
<h1 class="subheader goal">
  <%= @goal.user.first_name %> <%= @goal.user.last_name %> wants to:
</h1>
<h2 class="goal"><%= @goal.verb.capitalize %> <%= @goal.title.downcase %></h2>

<% @micro_goals.each do |m| %>
<div class="row display">
<!-- if micro_goal has no proof -->
<% if m.proof == nil %>  
  <div class="small-6 columns left blank">
    <div class="microgoal-content"><%= m.title.capitalize %>
      Due date : <em><%= m.completion_date.strftime("%A, %b %e %Y") %></em>
      <h6 class="row done"><%= link_to 'Done!', new_micro_goal_proof_path(m) %></h6>
    </div>
  </div>
  <div class="small-6 columns right"> 
    <div class="microgoal-content incomplete">
      <%= m.title.capitalize %>
      Due date : <em><%= m.completion_date.strftime("%A, %b %e %Y") %></em>
      <h6 class="row done"><%= link_to 'Done!', new_micro_goal_proof_path(m) %></h6>
    </div>
  </div>
  <!-- Creating a vertical line -->
  <% 2.times do %>
    <div class="small-6 columns left">&nbsp;</div>
    <div class="small-6 columns right">&nbsp;</div>
  <% end %>
<% else %>
<!-- if micro_goal has proof -->
  <div class="small-6 columns right blank">
    <div class="microgoal-content"><%= m.title.capitalize %>
    </div>
  </div>
  <div class="small-6 columns left"> 
    <div class="microgoal-content complete">
      <%= m.title.capitalize %>
    </div>
  </div>
  <!-- Creating a vertical line -->
  <% 2.times do %>
    <div class="small-6 columns left">&nbsp;</div>
    <div class="small-6 columns right">&nbsp;</div>
  <% end %>
<% end %>
</div>
<% end %>
<br>
<div class="row">
  <div class="small-4 small-centered">
    <%= link_to "Add microgoals", new_goal_micro_goal_url(@goal.id), class: "goal" %> |
    <%= link_to "Back to Goals", goals_path, class: "goal" %> 
  </div>
</div>





















