<h2 class="goal-path">
  <%= "#{@goal.verb.capitalize} #{@goal.title}" %>
</h2>

<ul class="steps">
  <li class="big-line">&nbsp;</li>
  <li class="big-line">&nbsp;</li>
  <li><div class="add-microgoal">
    <a href="#" data-reveal-id="add-microgoal" class="success button expand">Add Microgoal</a></div>
  </li>
  <% @micro_goals.each do |m| %>
    <li class="big-line">&nbsp;</li>
    <li class="big-line">&nbsp;</li>
    <% if m.completed == nil %>
      <li class="step-incomplete">
        <div.title>
          <p><%= m.title.capitalize %></p>
          <%= link_to 'Done!', new_micro_goal_proof_path(m) %>
        </div> 
      </li>
      <li class="step-date"><%= m.completion_date.strftime("%A, %b, %e, %Y") %>
        <br>
      </li> 
    <% else %>

      <li class="step-complete">
        <h6 class="title"><%= m.title.capitalize %></h6>


        <div class="whole-completed-step">
          <div id="proof">
            <p class="lesson"><%= m.proof.lesson %></p>
          </div>
          <%= link_to "Details", '#', class: "details button tiny expand" %>
        </div>
      </li>

    <% end %>
  <% end %>
</ul> 

