<%= simple_form_for @goal, :html => { :class => "custom"} do |f| %>
  <div class="row">
    <div class="large-12 columns">
      <fieldset class="all-verbs">
        <legend><h3>I want to</h3></legend>
        <div class="row">
          <div class="large-12 columns">
            <% Goal::VERBS.each do |v| %>
            <div class="verb">
              <%= f.label v %>
              <%= f.radio_button :verb, v, class: "radio_button" %>
            </div>
            <% end %>
          </div>
        </div>
        
      <fieldset>
        <legend>Write the rest of your Goal</legend>
        <%= f.input :title, as: :text, size: 140, placeholder: "eg. French", 
       class: "text_field" %>
      </fieldset>

      </fieldset>

      <fieldset>
        <legend><h3>Why?</h3></legend>
        <%= f.input :motivation, as: :text, rows: 7, cols: 100 %>
      </fieldset>

      <fieldset>
        <legend><h3>When will you achieve this goal?</h3></legend>
        <%= f.input :completion_date, start_year: Time.now.year %>
      </fieldset>

      <%= f.button :submit %>
    </div>
  </div>
<% end %>
