<h2 class="goal-path">
  <%= "#{@goal.verb.capitalize} #{@goal.title}" %>
</h2>

<!-- <ul> -->
  <!-- <li>big-line</li> -->
  <!-- <li>add-microgoal button</li> -->
  <!-- <li>add-microgoal form modal</li> -->


<!-- </ul> -->

<ul class="steps">
  <li class="big-line">&nbsp;</li>
  <li><div class="add-microgoal">
    <a href="#" data-reveal-id="add-microgoal" class="success button expand microgoal">Add Microgoal</a></div>
  </li>
  <% @micro_goals.each do |m| %>
    <li class="big-line">&nbsp;</li>
    <% if m.completed == nil %>
      <!-- incompleted microgoal -->
      <li class="step-incomplete">
        <h6 class="title incomplete"><%= m.title.capitalize %></h6>
        <a href="#" data-reveal-id="add-proof" class="success done button tiny expand">Add Proof</a>
      </li>
      <li class="step-date"><%= m.completion_date.strftime("%A, %b, %e, %Y") %>
        
      </li> 
      

      <div id="add-proof" class="reveal-modal small" data-microgoal=<%= m.id %>>
        <%= render "layouts/proof_simpleform", :micro_goal => m %>
      </div>
    <% else %>
      <!-- completed microgoal -->
      <li class="step-complete">
        <h6 class="title"><%= m.title.capitalize %></h6>

        <div class="whole-completed-step">
          <%# if m.proof.lesson %>
          <div id="proof">
            <p class="lesson" <%= "id=#{m.proof.lesson}" %>>
              <%= m.proof.lesson %>
            </p>
            
            <div class="image"><%= image_tag m.proof.image.url(:proof) %></div>
          </div>
          <%= link_to "Details", '#', class: "secondary details button tiny expand" %>
        </div>
      </li>

    <% end %>
  <% end %>
</ul> 

