<h2 class="goal-path">
  <%= "#{@goal.verb.capitalize} #{@goal.title}" %>
</h2>

<ul class="steps">
  <% @micro_goals.each do |m| %>
    <li class="big-line">&nbsp;</li>
    <li class="big-line">&nbsp;</li>
    <% if m.completed == nil %>
      <li class="step-incomplete">
        <div.title>
          <p><%= m.title.capitalize %></p>
          <%= link_to 'Done!', new_micro_goal_proof_path(m) %>
        </div> 
      </li>
      <li class="step-date"><%= m.completion_date.strftime("%A, %b, %e, %Y") %>
        <br>
      </li> 
    <% else %>
      <li class="step-complete">
        <h6 class="title"><%= m.title.capitalize %></h6>
        <div id="proof">
          <p><%= m.proof.lesson %></p>
          <p><%= image_tag m.proof.image.url(:profile) %></p>
        </div>
      </li>
    <% end %>
    <li class="big-line">&nbsp;</li>
  <% end %>
  <li class="big-line">&nbsp;</li>

  <li><div class="add-microgoal">
    <a href="#" data-reveal-id="add-microgoal" class="success button expand">add microgoal</a></div>
  </li>

  <li class="big-line">&nbsp;</li>
  <li class="big-line">&nbsp;</li>
  <li class="main-goal">
    <div class="text">
      <p>You're getting closer to achieving your goal:</p>
      <p class="main-goal"><%= "#{@goal.verb.capitalize} #{@goal.title}" %></p>
      <p><%= "You've earned: #{@goal.points} points!" %></p>
      <%= link_to "Back to Profile", user_path(current_user.id), class: "tiny button" %>
    </div>
  </li>
</ul> 

