<%= form_tag sessions_path, :method => :post do %>
  <div class="row">
    <div class="large-10 small-12 small-centered columns">
      <fieldset>
        <legend><h2>Log In</h2></legend>
        
        <div class="small-4 columns">
          <%= label_tag 'email', 'Email', :class => 'right inline' %>  
        </div>
        <div class="small-8 columns">
          <%= text_field_tag 'email' %>  
        </div>
        
        <div class="small-4 columns">
          <%= label_tag 'password', 'Password', :class => 'right inline' %>  
        </div>
        <div class="small-8 columns">
          <%= password_field_tag 'password' %>  
        </div>
        <div class="small-4 columns"></div>
        <div class="small-8 columns">
          <%= submit_tag "Log in", :class => "tiny button" %>
        </div>
            
      </fieldset>
    </div>
  </div>
<% end %>
