<div class="fixed">
  <nav class="top-bar toggle-topbar">
    <ul class="title-area">
      <li class="name"><h1><%= link_to 'Progress', root_path, class: "title" %></h1></li>
      <li class="toggle-topbar">
        <a class="menu" href="#">Menu</a>
      </li>
    </ul>
   
    <section class="top-bar-section">
      <ul class="right">
        <li class="divider"></li>
        <li><%= link_to 'How Progress Works', "#", class: "nav" %></li>
        
        <li class="divider"></li>
        <li class="has-dropdown"><a href="#" class="nav">About Us</a>
          <ul class="dropdown">
            
            <li><%= link_to "Our Story", "#" %></li>
            <li><%= link_to "Our Team", "#" %></li>
            <li><%= link_to "Contact Us", "#" %></li>
            
          </ul>
        </li>
        <% if current_user %>
          <li class="divider"></li>
          <li class="has-dropdown">
            <%= link_to "#{current_user.first_name.capitalize}'s Profile", 
            user_path(current_user.id), class: "nav" %>
            <ul class="dropdown">
              <li><%= link_to "Edit Profile", edit_user_path(current_user) %></li>
              <li class="has-dropdown"><%= link_to 'Goals', goals_path %>
                <ul class="dropdown">
                  <li><%= link_to 'Compeleted Goals', '#' %></li>
                  <li><%= link_to 'Current Goals', goals_path %></li>
                  <li><%= link_to 'Unfinished Goals', '#' %></li>
                </ul>
              </li>
              
              
              <li class="has-dropdown"><%= link_to 'Proofs', '#'%>
                <ul class="dropdown">
                  <li><%= link_to "All", '#' %></li>
                  <li><%= link_to "Pictures", '#' %></li>
                  <li><%= link_to "Texts", "#" %></li>
                </ul>
              </li>
            </ul>
          </li>
        
          
          <li class="divider"></li>
          <li><%= link_to 'Logout', logout_path, class: 'logout' %></li>
        <% else %>
          <li class="divider"></li>
          <li><%= link_to 'Sign up', new_user_path, class: 'signup' %></li>
          <li class="divider"></li>
          <li><%= link_to 'Log in', login_path, class: 'login' %></li>
        <% end %>

        <li class="divider"></li>
        <li><%= link_to 'Add New Goal', new_goal_path, class: "new-goal" %></li>
      </ul>
      
    </section>
  </nav>
</div>