<div class="fixed">
  <nav class="top-bar toggle-topbar">
    <ul class="title-area">
      <li class="name"><h1><%= link_to 'Progress', root_path, class: "title" %></h1></li>
      <li class="toggle-topbar">
        <a class="menu" href="#">Menu</a>
      </li>
    </ul>
   
    <section class="top-bar-section">
      <ul class="left">
        <li><%= link_to 'Add New Goal', new_goal_path, class: "new-goal" %></li>
      </ul>
      <ul class="right">
        <% if current_user %>
          <li class="has-dropdown">
            <%= link_to "#{current_user.first_name.capitalize}'s Profile", 
            user_path(current_user.id), class: "nav" %>
            <ul class="dropdown">
              <li><%= link_to "Edit Profile", edit_user_path(current_user) %></li>
              <li><%= link_to 'Logout', logout_path, class: 'logout' %></li>
            </ul>
          </li>
        <% else %>
          <li><a href="#" data-reveal-id="signup-modal" class="signup">Sign Up</a></li>
          <li><a href="#" data-reveal-id="login-modal" class="login">Log In</a></li>
        <% end %>

        
      </ul>
      
    </section>
  </nav>
</div>