<div class="row">
  <div class="large-10 columns">
  
    <h1>Prove this step.</h1>

    <%= form_for [@micro_goal, @proof], :html => { :class => "custom"} do |f| %>
      <fieldset>
        <legend><h3><%= @micro_goal.title %></h3></legend>

        <%= f.label :lesson, "Write about it:" %>
        <br>
        <%= f.text_area :lesson, placeholder: "140 characters or less" %>
        <br>
        <%= f.button %>    
      </fieldset>
    
    <% end %>
  </div>
</div>