<%= simple_form_for @user, :html => { class: 'custom', multipart: true } do |f| %>      
  <div class="row">
    <div class="large-8">
      <fieldset><legend><h4>User Info</h4></legend>
        <%= f.input :first_name %>
        <br>
        <%= f.input :last_name %>
        <br>
        <%= f.input :email, placeholder: 'user@example.com' %>
        <br>
        <%= f.input :password %>
        <br>
        <div class="large-3">
          <%= f.input :gender, collection: [:male, :female] %>
        </div>
      </fieldset>
    </div>
  </div>

  <div class="row">
    <div class="large-8">
      <fieldset><legend><h4>Date of Birth</h4></legend>
        <div class="large-8">
          <%# f.input :date_of_birth, label: false, start_year: 1950, end_year: (Time.now).year %>  
          <%= f.input :date_of_birth, :as => :ui_date_picker %>
          
        </div>
      </fieldset>
    </div>
  </div>
  
  <div class="row">
    <div class="large-8">
      <fieldset> <legend><h4>Profile Picture</h4></legend>
        <%= f.input :image, label: "Profile Pic" %>
        <br>
        <h6>or</h6>
        <br>
        <%= f.input :remote_image_url, label: "link to image url" %>
        <br>
        <%= f.button :submit %>
      </fieldset>
    </div>
  </div>   
<% end %>