<div class="row">
  <div class="large-12">

    <%= simple_form_for @user, 
    :html => { class: 'custom', multipart: true } do |f| %> 
      <fieldset class="user-info"><legend><h4>User Info</h4></legend>
        <fieldset class="user">
          <%= f.input :first_name %>
          <%= f.input :last_name %>
          <%= f.input :email, placeholder: 'user@example.com' %>
          <%= f.input :password %>
          <%= f.input :gender, collection: [:male, :female] %>
        </fieldset>
        <fieldset class="dob-profile">
          <%= f.input :date_of_birth %>       
          <div class="profile-pic">
            <%= f.input :image, label: "Profile Pic" %>
            <%= f.input :remote_image_url, label: "link to image url" %>
          </div>
          <div class="create">
            <%= f.button :submit, class: "create" %>
          </div>

        </fieldset>
      </fieldset>
    <% end %>
  </div>
</div>